{$DOMAIN:localhost} {
    encode gzip zstd

    @api path /api/*
    reverse_proxy @api backend:8000

    reverse_proxy frontend:3000
}

https://{$SERVER_IP} {
    tls internal
    encode gzip zstd

    @api path /api/*
    reverse_proxy @api backend:8000

    reverse_proxy frontend:3000
}
